.page {
  display: grid;
  grid-template-columns: 128px 1fr;
  grid-template-rows: 100vh;
}

.sidebar {
  background-color: #26272a;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  padding: 10px;
}

.traffic-lights {
  display: inline;
  -webkit-app-region: drag;
}
.traffic-lights:hover > .close {
  background-color: #ff6052;
  border-color: #ff6052;
}
.traffic-lights:hover > .minimize {
  background-color: #ffbe05;
  border-color: #ffbe05;
}
.traffic-lights:hover > .zoom {
  background-color: #15cc37;
  border-color: #15cc37;
}

.window-btn {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  border: 1px solid #fff;
  background-color: transparent;
  padding: 0;
  outline: 0;
  margin-right: 5px;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.window-btn:last-child {
  margin-right: 0;
}

.main {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: #1d1e21;
}

/* Article */

.article {
  border-bottom: 1px solid #444;
  color: #f5f5f5;
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  min-height: 36px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.article:hover {
  color: #00c7fe;
}

.article div:first-child {
  margin-left: 1rem;
}

.article div:last-child {
  margin-right: 1rem;
}

.article-id {
  margin-right: 1rem;
}

.article-shares {
  margin-right: 1rem;
}

.error-message {
  font-size: 0.8rem;
  color: #ff2d55;
}

/* Loader */

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

.loader {
  border: 2px solid #000;
  border-radius: 50%;
  border-top: 2px solid #fff;
  width: 24px;
  height: 24px;
  animation: rotate360 2s linear infinite;
  margin: 0 6px;
}

.loader-message {
  font-size: 0.8rem;
  color: #fff;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar:hover {
  background-color: #38383b;
}

::-webkit-scrollbar-thumb {
  background-color: #9c9c9d;
}
