.header {
  padding: 10px;
  display: flex;
  -webkit-app-region: drag;
}

.header:hover > .close {
  background-color: #ff6052;
  border-color: #ff6052;
}

.header:hover > .minimize {
  background-color: #ffbe05;
  border-color: #ffbe05;
}

.header:hover > .zoom {
  background-color: #15cc37;
  border-color: #15cc37;
}

.window-btn {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  border: 1px solid #fff;
  background-color: transparent;
  padding: 0;
  outline: 0;
  margin-right: 5px;
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.window-btn:last-child {
  margin-right: 0;
}

.close,
.minimize,
.zoom {
  composes: window-btn;
}
