.app {
  display: grid;
  grid-template-columns: 128px 1fr;
  grid-template-rows: 100vh;
}

.main {
  overflow-y: auto;
  background-color: #1d1e21;
}

.sidebar {
  background-color: #26272a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 6px;
}
