.article {
  border-bottom: 1px solid #444;
  color: #f5f5f5;
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  min-height: 36px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.article:hover {
  color: #00c7fe;
}

@media (min-width: 992px) {
  .article {
    padding: 0 10px;
    flex-direction: row;
    align-items: center;
  }
}

.id {
  margin-right: 1rem;
  display: none;
}

@media (min-width: 992px) {
  .id {
    display: inline;
  }
}

.shares {
  margin-right: 1rem;
}
